In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
fa_covariates = pd.read_csv('../data/data_fa21/all_students_features_T_e=7_finalized.csv', index_col = 0)
sp_covariates = pd.read_csv('../data/data_sp22/all_students_features_T_e=7_finalized.csv', index_col = 0)

c:\Program Files\Python37\lib\site-packages\numpy\lib\arraysetops.py:580: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask |= (ar1 == a)

In [29]:
fa_subjects = fa_covariates[
    ["employee_id_hash", "current_gender", "academic_career"]
].drop_duplicates()

sp_subjects = sp_covariates[
    ["employee_id_hash", "current_gender", "academic_career"]
].drop_duplicates()

In [5]:
fa_res = []
fa_ind = []

fa_ind.append("Total")
fa_res.append(
    {
        "num_persons": len(fa_subjects),
        "% p": 100,
        "num_person_days": len(fa_covariates),
        "% pd": 100,
        "incidence_rate": np.round(fa_covariates["infected_on_this_day"].sum() / len(fa_covariates) * 1000, 2)
    }
)

In [6]:

for feature in ["current_gender", "academic_career"]:

    g1 = fa_subjects.groupby(feature).aggregate("count")
    g2 = fa_covariates.groupby(feature).aggregate({"infected_on_this_day": ["mean", "count"]})

    for s in g1.index:
        fa_ind.append(s)
        fa_res.append(
            {
                "num_persons": g1.loc[s]["employee_id_hash"],
                "% p": np.round(g1.loc[s]["employee_id_hash"] / len(fa_subjects) * 100),
                "num_person_days": g2.loc[s]["infected_on_this_day"]["count"],
                "% pd": np.round(g2.loc[s]["infected_on_this_day"]["count"] / len(fa_covariates) * 100),
                "incidence_rate": np.round(g2.loc[s]["infected_on_this_day"]["mean"] * 1000, 2)
            }
        )

In [7]:
pd.DataFrame(fa_res, index=fa_ind)

       num_persons    % p  num_person_days   % pd  incidence_rate
Total        17479  100.0        1771641.0  100.0            0.34
F             9443   54.0         958977.0   54.0            0.32
M             8036   46.0         812664.0   46.0            0.36
GM             611    3.0          62678.0    4.0            0.24
GR             740    4.0          76615.0    4.0            0.08
LA             739    4.0          75664.0    4.0            0.36
UG           11197   64.0        1147629.0   65.0            0.21
UG_A          1018    6.0         102045.0    6.0            0.45
UG_G          2745   16.0         263000.0   15.0            0.98
VM             429    2.0          44010.0    2.0            0.25

In [8]:
sp_res = []
sp_ind = []

sp_ind.append("Total")
sp_res.append(
    {
        "num_persons": len(sp_subjects),
        "% p": 100,
        "num_person_days": len(sp_covariates),
        "% pd": 100,
        "incidence_rate": np.round(sp_covariates["infected_on_this_day"].sum() / len(sp_covariates) * 1000, 2)
    }
)

In [9]:

for feature in ["current_gender", "academic_career"]:

    g1 = sp_subjects.groupby(feature).aggregate("count")
    g2 = sp_covariates.groupby(feature).aggregate({"infected_on_this_day": ["mean", "count"]})

    for s in g1.index:
        sp_ind.append(s)
        sp_res.append(
            {
                "num_persons": g1.loc[s]["employee_id_hash"],
                "% p": np.round(g1.loc[s]["employee_id_hash"] / len(sp_subjects) * 100),
                "num_person_days": g2.loc[s]["infected_on_this_day"]["count"],
                "% pd": np.round(g2.loc[s]["infected_on_this_day"]["count"] / len(sp_covariates) * 100),
                "incidence_rate": np.round(g2.loc[s]["infected_on_this_day"]["mean"] * 1000, 2)
            }
        )

In [10]:
pd.DataFrame(sp_res, index=sp_ind)

       num_persons    % p  num_person_days   % pd  incidence_rate
Total        11734  100.0         163161.0  100.0            1.21
F             6488   55.0          90173.0   55.0            1.24
M             5246   45.0          72988.0   45.0            1.16
GM             360    3.0           5020.0    3.0            1.39
GR             882    8.0          12312.0    8.0            0.49
LA             512    4.0           7123.0    4.0            1.12
UG            7322   62.0         101944.0   62.0            1.04
UG_A           531    5.0           7405.0    5.0            0.81
UG_G          1774   15.0          24439.0   15.0            2.50
VM             353    3.0           4918.0    3.0            0.61

In [30]:
pooled_covariates = pd.concat([fa_covariates, sp_covariates])
pooled_subjects = pd.concat([fa_subjects, sp_subjects]).drop_duplicates()

In [31]:
pooled_res = []
pooled_ind = []

pooled_ind.append("Total")
pooled_res.append(
    {
        "num_persons": len(pooled_subjects),
        "% p": 100,
        "num_person_days": len(pooled_covariates),
        "% pd": 100,
        "incidence_rate": np.round(pooled_covariates["infected_on_this_day"].sum() / len(pooled_covariates) * 1000, 2)
    }
)

In [32]:

for feature in ["current_gender", "academic_career"]:

    g1 = pooled_subjects.groupby(feature).aggregate("count")
    g2 = pooled_covariates.groupby(feature).aggregate({"infected_on_this_day": ["mean", "count"]})

    for s in g1.index:
        pooled_ind.append(s)
        pooled_res.append(
            {
                "num_persons": g1.loc[s]["employee_id_hash"],
                "% p": np.round(g1.loc[s]["employee_id_hash"] / len(pooled_subjects) * 100),
                "num_person_days": g2.loc[s]["infected_on_this_day"]["count"],
                "% pd": np.round(g2.loc[s]["infected_on_this_day"]["count"] / len(pooled_covariates) * 100),
                "incidence_rate": np.round(g2.loc[s]["infected_on_this_day"]["mean"] * 1000, 2)
            }
        )

In [18]:
pd.DataFrame(pooled_res, index=sp_ind)

       num_persons    % p  num_person_days   % pd  incidence_rate
Total        19234  100.0        1934802.0  100.0            0.42
F            10432   54.0        1049150.0   54.0            0.40
M             8802   46.0         885652.0   46.0            0.43
GM             632    3.0          67698.0    3.0            0.32
GR            1274    7.0          88927.0    5.0            0.13
LA             768    4.0          82787.0    4.0            0.42
UG           11689   61.0        1249573.0   65.0            0.28
UG_A          1046    5.0         109450.0    6.0            0.48
UG_G          3347   17.0         287439.0   15.0            1.11
VM             478    2.0          48928.0    3.0            0.29

In [33]:
pooled_covariates.describe()

,positives_identified_on_this_day,infected_on_this_day,week_idx,biweek_idx,nap,class_prevalence_on_this_day,class_positivity,campus_positivity
count,1.934802e+06,1.934802e+06,1.934802e+06,1.934802e+06,1934802.0,0.0,1.934802e+06,1.934802e+06
mean,7.531488e+00,4.150295e-04,6.370310e+00,2.948624e+00,0.0,NaN,2.043679e-02,8.399807e+01
std,1.205856e+01,2.036805e-02,4.478134e+00,2.248457e+00,0.0,NaN,5.287166e-02,1.040619e+02
min,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.0,NaN,0.000000e+00,6.000000e+00
25%,0.000000e+00,0.000000e+00,2.000000e+00,1.000000e+00,0.0,NaN,0.000000e+00,2.000000e+01
50%,3.000000e+00,0.000000e+00,6.000000e+00,3.000000e+00,0.0,NaN,0.000000e+00,2.800000e+01
75%,8.000000e+00,0.000000e+00,1.000000e+01,5.000000e+00,0.0,NaN,1.504556e-02,1.030000e+02
max,5.600000e+01,1.000000e+00,1.400000e+01,7.000000e+00,0.0,NaN,3.755568e+00,4.040000e+02